<div class="progress" ng-show="!vm.selecao.programa">
    <div class="indeterminate"></div>
</div>
<div ng-show="vm.selecao.programa">
    <div class="tituloCentralizado">
        <h4 ng-bind="vm.selecao.programa.nome"></h4>
        <span ng-bind="vm.selecao.programa.unidade + ' - ' + vm.selecao.programa.dataPrograma"></span>
    </div>
    <div class="row">
        <div class="col s4" ng-repeat="(key, value) in vm.selecao.criterios">
            <h5 class="tituloCentralizado" ng-bind="value.descricao"></h5>
            <div class="card-panel white hoverable">
                <div ng-repeat="criterio in value.nota | orderBy: '-nota'">
                    <div ng-class="{'top-survivor': $index < 5}">
                        <span ng-bind="criterio.candidato.nome"></span>
                        <span class="right" ng-bind="criterio.nota"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
