<md-stepper id="selecao" md-linear="true">
    <md-step md-label="Seleção do programa">
        <div class="progress" ng-if="!vm.listaProgramasCarregada">
            <div class="indeterminate"></div>
        </div>
        <md-step-body ng-show="vm.listaProgramasCarregada" class="fadein fadeout">
            <div class="row">
                <div class="col s6 offset-s3 card-centered">
                    <div class="card white hoverable">
                        <div class="card-content">
                            <div class="tituloCentralizado">
                                <span class="card-title">Programa</span>
                            </div>
                            <form>
                                <div class="row">
                                    <is-select label="Programa"
                                               icone="create_new_folder"
                                               ng-model="vm.selecao.programa"
                                               function="vm.listarProgramas"
                                               ng-required="true"
                                               mensagem="Selecione o programa"
                                               control="vm.selectControl"
                                               key-as-value="true"
                                               show="nome">
                                    </is-select>
                                    <button class="btn waves-effect waves-light right"
                                            ng-click="vm.next()">Próximo
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </md-step-body>
    </md-step>
    <md-step md-label="Avaliação de critérios">
        <div class="progress" ng-if="!vm.listaCriteriosCarregada">
            <div class="indeterminate"></div>
        </div>
        <md-step-body ng-show="vm.listaCriteriosCarregada" class="fadein fadeout">
            <div class="row">
                <div class="col s12 card-centered">
                    <div class="card white hoverable">
                        <div class="card-content">
                            <ul class="collapsible popout" data-collapsible="accordion" watch>
                                <li ng-repeat="(key, criterio) in vm.listaCriterios">
                                    <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>{{criterio.descricao}}
                                    </div>
                                    <div class="collapsible-body">
                                        <form>
                                            <table class="highlight">
                                                <thead>
                                                <tr>
                                                    <th data-field="id">Candidato</th>
                                                    <th data-field="Critério">Critério</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="candidato in vm.listaCandidatosPrograma">
                                                    <td ng-bind="candidato.nome"></td>
                                                    <td>
                                                        <is-criterio largura="12"
                                                                     label="Lista de candidatos"
                                                                     icone="create_new_folder"
                                                                     ng-model="vm.selecao.programa"
                                                                     lista="vm.listaCandidatos"
                                                                     ng-required="true"
                                                                     mensagem="Selecione a nota"
                                                                     criterio="criterio">
                                                        </is-criterio>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn waves-effect waves-light left"
                        ng-click="vm.back()">Anterior
                </button>
                <button class="btn waves-effect waves-light right"
                        ng-click="vm.finalizar()">Finalizar
                </button>
            </div>
        </md-step-body>
    </md-step>
    <md-step md-label="Finalizar">
        <md-step-body class="fadein fadeout">
            <div class="row">
                <div class="col s6 offset-s3 card-centered">
                    <div class="card white hoverable">

                        <div class="card-content">

                            <div class="tituloCentralizado">
                                <span class="card-title">Seleção criada com sucesso</span>
                            </div>

                            <form>
                                <div class="row center-align separador">
                                    <button class="btn waves-effect waves-light"
                                            ui-sref="dashboard">Menú principal
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </md-step-body>
    </md-step>
</md-stepper>