<div class="main">
    <div class="row">
        <div class="col s3">
            <div class="card-panel white hoverable">
                <div input-field>
                    <input type="text" ng-model="dummyInputs.inputFieldInput" length="150">
                    <label>Input label</label>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card-panel white hoverable">
                . . .
            </div>
        </div>
        <div class="col s3">
            <div class="card-panel white hoverable">
                . . .
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel white hoverable">
                . . .
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel white hoverable">
                . . .
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel white hoverable">
                . . .
            </div>
        </div>
    </div>
</div>