<div class="row">
    <div class="col s8 offset-s2">
        <div class="card white hoverable">
            <div class="card-content">
                <md-button ng-if="vm.listaCarregada && !!vm.candidatos" class="md-icon-button collapse right activator"
                           aria-label="Lista de candidatos"
                           ng-click="vm.switchCard()">
                    <md-tooltip>Lista de candidatos</md-tooltip>
                    <i class="material-icons right">list</i>
                </md-button>

                <div class="tituloCentralizado">
                    <span class="card-title">Cadastro de {{vm.titulo}}</span>
                </div>

                <div class="progress" ng-if="!vm.listaCarregada">
                    <div class="indeterminate"></div>
                </div>

                <form class="separador" novalidate>
                    <div class="row">

                        <is-input-text label="Nome completo"
                                       largura="12"
                                       icone="account_circle"
                                       ng-model="vm.candidato.nome"
                                       ng-required="true">
                        </is-input-text>

                        <is-input-text label="Telefone"
                                       largura="6"
                                       icone="phone"
                                       ng-model="vm.candidato.telefone"
                                       ng-required="true">
                        </is-input-text>

                        <is-input-text label="E-mail"
                                       largura="6"
                                       icone="email"
                                       ng-model="vm.candidato.email"
                                       ng-required="true">
                        </is-input-text>

                        <is-date label="Data de nascimento"
                                 largura="6"
                                 icone="date_range"
                                 ng-model="vm.candidato.dataNascimento"
                                 ng-required="true">
                        </is-date>

                        <is-select label="Sexo"
                                   largura="6"
                                   icone="class"
                                   ng-model="vm.candidato.sexo"
                                   lista="vm.listarSexos"
                                   ng-required="true"
                                   mensagem="Sexo"
                                   control="vm.selectControlSexo">
                        </is-select>

                        <is-select label="Formação"
                                   largura="4"
                                   icone="class"
                                   ng-model="vm.candidato.formacao"
                                   lista="vm.listarFormacoes"
                                   ng-required="true"
                                   mensagem="Formação"
                                   control="vm.selectControlFormacao">
                        </is-select>

                        <!--<is-input-text label="Curso"-->
                        <!--largura="8"-->
                        <!--icone="school"-->
                        <!--ng-model="vm.candidato.curso"-->
                        <!--ng-required="true">-->
                        <!--</is-input-text>-->

                        <!--<is-date label="Data inicio"-->
                        <!--largura="6"-->
                        <!--icone="date_range"-->
                        <!--ng-model="vm.candidato.dataInicio"-->
                        <!--ng-required="true">-->
                        <!--</is-date>-->

                        <!--<is-date label="Data fim"-->
                        <!--largura="6"-->
                        <!--icone="date_range"-->
                        <!--ng-model="vm.candidato.dataFim"-->
                        <!--ng-required="true">-->
                        <!--</is-date>-->

                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn"
                                ng-click="vm.salvar()">Salvar
                        </button>
                        <button class="waves-effect waves-light btn"
                                ng-click="vm.limpar()">Limpar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>