<div class="row" ng-controller="AvaliadorController as vm">
    <div class="col s6 offset-s3">
        <div class="card white hoverable">
            <div class="card-content">
                <span class="card-title">Cadastro de avaliador</span>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="nome" type="text" class="validate"
                                   ng-model="vm.avaliador.nome">
                            <label for="nome">Nome completo</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate"
                                   ng-model="vm.avaliador.email">
                            <label for="email">Email</label>
                        </div>

                        <div class="input-field col s6">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="password_1"
                                   type="password"
                                   class="validate"
                                   ng-model="vm.avaliador.senha"
                                   required>
                            <label for="password_1">Senha</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="password_2"
                                   type="password"
                                   class="validate"
                                   ng-model="vm.senhaRepetida"
                                   required>
                            <label for="password_2">Digite a senha novamente</label>
                        </div>

                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn"
                                ng-click="vm.salvar()"
                                ng-disabled="vm.avaliador.senha != vm.senhaRepetida">Salvar
                        </button>
                        <button class="waves-effect waves-light btn"
                                ng-click="vm.limpar()">Limpar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>