<div class="row">
    <div class="col s8 offset-s2">
        <div class="card white hoverable">
            <div class="card-content">

                <md-button ng-if="vm.listaCarregada && !!vm.criterios" class="md-icon-button collapse right activator"
                           aria-label="Lista de criterios"
                           ng-click="vm.switchCard()">
                    <md-tooltip>Lista de critérios</md-tooltip>
                    <i class="material-icons right">list</i>
                </md-button>

                <div class="tituloCentralizado">
                    <span class="card-title">Cadastro de {{vm.tituloPagina}}</span>
                </div>

                <div class="progress" ng-if="!vm.listaCarregada">
                    <div class="indeterminate"></div>
                </div>

                <form class="separador">
                    <div class="row">
                        <is-input-text label="Descrição"
                                       largura="12"
                                       icone="description"
                                       ng-model="vm.criterio.descricao"
                                       ng-required="true">
                        </is-input-text>

                        <is-select label="Tipo"
                                   largura="12"
                                   icone="extension"
                                   ng-model="vm.criterio.tipo"
                                   function="vm.listarTiposCriterios"
                                   show="tipo"
                                   ng-required="true"
                                   mensagem="Tipo de resposta"
                                   control="vm.selectControl">
                        </is-select>

                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn "
                                ng-click="vm.salvar()"
                                ng-disabled="!vm.criterio.descricao || !vm.criterio.tipo ">Salvar
                        </button>
                        <button class="waves-effect waves-light btn"
                                ng-click="vm.limpar()"
                                ng-disabled="!vm.criterio.descricao && !vm.criterio.tipo">
                            Limpar
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-reveal">
                <md-button class="md-icon-button collapse right"
                           aria-label="Fechar"
                           ng-click="vm.switchCard()">
                    <md-tooltip>Fechar</md-tooltip>
                    <i class="material-icons right">close</i>
                </md-button>

                <div class="tituloCentralizado">
                    <span class="card-title">Lista de {{vm.tituloPagina}}</span>
                </div>
                <table class="highlight separador">
                    <thead>
                    <tr>
                        <th data-field="descricao" class="col l5 m4 s4">Descrição</th>
                        <th data-field="tipo" class="col l4 m4 s4">Tipo</th>
                        <th data-field="acoes" class="col l3 m4 s4 center">Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="(key, value) in vm.criterios">
                        <td class="col l5 m4 s4">{{value.descricao}}</td>
                        <td class="col l4 m4 s4">{{value.tipo}}</td>
                        <td class="col l3 m4 s4 center">
                            <md-button class="md-icon-button semEspaco"
                                       aria-label="Fechar"
                                       ng-click="vm.editar(key)">
                                <md-tooltip>Editar</md-tooltip>
                                <a href="#" class="material-icons black-text">edit</a>
                            </md-button>
                            <md-button class="md-icon-button semEspaco"
                                       aria-label="Fechar"
                                       ng-click="vm.eliminar(key)">
                                <md-tooltip>Eliminar</md-tooltip>
                                <a href="#" class="material-icons red-text">delete</a>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>