.card-centered {
	width: 60%;
	height: 70%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

td, th, tr {
	padding: 2px 2px;
}

.conteudo {
	padding-top: 20px;
}