<div class="input-field col s{{::largura}}" ng-show="criterio.tipo == 'Numérico'">
    <input class="input-field "
           id="{{::rangeName}}"
           name="{{::rangeName}}"
           type="{{::tipo}}"
           ng-model="ngModel"
           ng-required="ngRequired">
    <label for="{{::rangeName}}" ng-bind="::label">Descrição</label>
</div>

<div class="input-field col s{{::largura}}" ng-show="criterio.tipo == 'Verdadeiro / Falso'">
    <input class="input-field "
           id="{{::booleanName}}"
           name="{{::booleanName}}"
           type="{{::tipo}}"
           ng-model="ngModel"
           ng-required="ngRequired">
    <label for="{{::booleanName}}" ng-bind="::label">Descrição</label>
</div>

<div class="input-field col s{{::largura}}" ng-show="criterio.tipo == 'Texto'">
    <input class="input-field "
           id="{{::inputName}}"
           name="{{::inputName}}"
           type="{{::tipo}}"
           ng-model="ngModel"
           ng-required="ngRequired">
    <label for="{{::inputName}}" ng-bind="::label">Descrição</label>
</div>