<is-range ng-show="criterio.tipo == 'Numérico'"
          label="{{label}}"
          largura="{{largura}}"
          icone="{{icone}}"
          minimo="{{minimo}}"
          maximo="{{maximo}}"
          ng-model="ngModel"
          ng-required="ngRequired"></is-range>

<div class="switch input-field col s{{largura}}" ng-show="criterio.tipo == 'Verdadeiro / Falso'">
    <label>
        <input type="checkbox" ng-model="ngModel">
        <span class="lever"></span>
    </label>
</div>


<div class="input-field col s{{largura}}" ng-show="criterio.tipo == 'Texto'">
    <!--<i ng-if="icone" class="material-icons prefix">{{::icone}}</i>-->
    <!--<select id="{{selectName}}"-->
    <!--name="{{selectName}}" class="" ng-model="ngModel" material-select watch>-->
    <!--<option value=""-->
    <!--disabled selected>{{::mensagem}}-->
    <!--</option>-->
    <!--<option ng-repeat="(k, v) in getLista() track by $index"-->
    <!--ng-value="keyAsValue ? k : v[show] ? v[show] : v">{{v[show] ? v[show] : v}}-->
    <!--</option>-->
    <!--</select>-->
    Texto
</div>