html {
	font-size: 14px;
}

body {
	background-color: whitesmoke;
	background-image: url("../../assets/img/indra.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: 95% 95%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	font-family: "Helvetica Neue", Arial, sans-serif;
	height: 100%;
}

#panell {
	margin-top: 100px;
	padding: 0px;
}

#loginbtn {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

#title {
	background-color: #2bbbad;
	color: white;
	padding: 8px;
	margin-top: 0px
}

.separador {
	margin-top: 30px;
}

form {
	border-radius: 3px;
	box-sizing: border-box;
}

#username, #password {
	margin-left: 20px;
	margin-right: 20px;
}

#checkbox {
	margin-left: 30px;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 13px;
	color: #416c7a;
	line-height: 15px;
	padding: 14px 16px;
}

.input-field label {
	color: #416c7a;
}

main {
	flex: 1 0 auto;
}

.blue.darken-1 {
	background-color: #51ABD2 !important;
}

.blue {
	background-color: #51ABD2 !important;
}

.blueDark {
	background-color: #416c7a;
}

.blue.darken-1-txt {
	background-color: #55818F !important;
}

.row {
	margin-bottom: 2px;
	margin-left: inherit;
}

.footer {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

a {
	color: #55818F;
}

.btn-floating {

	background-color: #55818F;

}

.picker__weekday-display {
	background-color: #416c7a;
}

.picker__date-display {
	background-color: #55818F;
	color: #fff;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #51ABD2;
}

.picker__close, .picker__today {
	color: #416c7a;
}

.select-wrapper input.select-dropdown {
	border-bottom: 1px solid #416c7a;
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: #51ABD2;
}

.switch label input[type=checkbox]:checked + .lever:after {
	background-color: #416c7a;
}

.card {
	border-radius: 14px;
}

.card .card-content {
	padding: 10px;
}

.card .card-reveal {
	padding: 10px;
	border-radius: 14px;
}

.input-field label {
	color: #416c7a;
}

.pagination li.active a {
	color: rgba(255, 255, 255, 0.79);
	background-color: #51ABD2;
}

.backdrop {
	background-color: #416c7a;
}

.backdrop {
	background-color: #416c7a;
}

.blueDark {
	background-color: #416c7a;
}

.collapsible-header {
	background-color: #51ABD2;
	color: white;
}

.tituloCentralizado {
	width: 80%;
	text-align: center;
	position: relative;
	padding-left: 20%;
}

select {
	height: 10px;
	font-size: 6px;
}

.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	min-height: 35px;
	height: 35px;
	line-height: 1.5rem;
	width: 100%;
	text-align: left;
	text-transform: none;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 13px;
	color: #416c7a;
	line-height: 15px;
	padding: 10px 10px;
}

.progress {
	position: absolute;
	height: 1px;
	display: block;
	width: 100%;
	background-color: transparent;
	border-radius: 0;
	margin: 0.5rem 0 1rem -0.70rem;
	overflow: hidden;
}

.progress .indeterminate {
	background-color: #51ABD2;
}

/* Palette generated by Material Palette - materialpalette.com/light-blue/deep-orange */

.dark-primary-color {
	background: #0288D1;
}

.default-primary-color {
	background: #03A9F4;
}

.light-primary-color {
	background: #B3E5FC;
}

.text-primary-color {
	color: #FFFFFF;
}

.accent-color {
	background: #FF5722;
}

.primary-text-color {
	color: #212121;
}

.secondary-text-color {
	color: #757575;
}

.divider-color {
	border-color: #BDBDBD;
}

.ngtoast-default {
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	text-align: center;
	top: 200px;
	-webkit-transform: translateY(20px);
	-ms-transform: translateY(20px);
	transform: translateY(20px);
	width: 200px;
	height: 50px;
}

.md-button.md-icon-button.semEspaco {
	margin: 0;
}