html {
	font-size: 14px;
}

body {
	background-color: whitesmoke;
	background-image: url("../../assets/img/indra.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: 95% 95%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	position: relative;
	margin: 0;
	padding-bottom: 6rem;
	font-family: "Helvetica Neue", Arial, sans-serif;
	height: 100%;
}

#panell {
	margin-top: 100px;
	padding: 0px;
}

#loginbtn {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

#title {
	background-color: #2bbbad;
	color: white;
	padding: 8px;
	margin-top: 0px
}

.separador {
	margin-top: 30px;
}

form {
	border-radius: 3px;
	box-sizing: border-box;
}

#username, #password {
	margin-left: 20px;
	margin-right: 20px;
}

#checkbox {
	margin-left: 30px;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 13px;
	color: #416c7a;
	line-height: 15px;
	padding: 14px 16px;
}

.input-field label {
	color: #416c7a;
}

main {
	flex: 1 0 auto;
}

.blue.darken-1 {
	background-color: #51ABD2 !important;
}

.blue {
	background-color: #51ABD2 !important;
}

.blueDark {
	background-color: #416c7a;
}

.blue.darken-1-txt {
	background-color: #55818F !important;
}

.footer {
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}

a {
	color: #55818F;
}

.btn-floating {

	background-color: #55818F;

}

.picker__weekday-display {
	background-color: #416c7a;
}

.picker__date-display {
	background-color: #55818F;
	color: #fff;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
	background-color: #51ABD2;
}

.picker__close, .picker__today {
	color: #416c7a;
}

.select-wrapper input.select-dropdown {
	border-bottom: 1px solid #416c7a;
}

.switch label input[type=checkbox]:checked + .lever {
	background-color: #51ABD2;
}

.switch label input[type=checkbox]:checked + .lever:after {
	background-color: #416c7a;
}

.card {
	border-radius: 14px;
}

.card .card-content {
	padding: 10px;
}

.card .card-reveal {
	padding: 10px;
	border-radius: 14px;
}

.pagination li.active a {
	color: rgba(255, 255, 255, 0.79);
	background-color: #51ABD2;
}

.backdrop {
	background-color: #416c7a;
}

.backdrop {
	background-color: #416c7a;
}

.blueDark {
	background-color: #416c7a;
}

.collapsible-header {
	background-color: #51ABD2;
	color: white;
}

.tituloCentralizado {
	width: 80%;
	text-align: center;
	position: relative;
	padding-left: 20%;
}

.dropdown-content li {
	clear: both;
	color: rgba(0, 0, 0, 0.87);
	cursor: pointer;
	min-height: 35px;
	height: 35px;
	line-height: 1.5rem;
	width: 100%;
	text-align: left;
	text-transform: none;
}

.dropdown-content li > a, .dropdown-content li > span {
	font-size: 13px;
	color: #416c7a;
	line-height: 15px;
	padding: 10px 10px;
}

.progress {
	position: absolute;
	height: 1px;
	display: block;
	width: 100%;
	background-color: transparent;
	border-radius: 0;
	margin: 0.5rem 0 1rem -0.70rem;
	overflow: hidden;
}

.progress .indeterminate {
	background-color: #51ABD2;
}

/* Palette generated by Material Palette - materialpalette.com/light-blue/deep-orange */

.dark-primary-color {
	background: #0288D1;
}

.default-primary-color {
	background: #03A9F4;
}

.light-primary-color {
	background: #B3E5FC;
}

.text-primary-color {
	color: #FFFFFF;
}

.accent-color {
	background: #FF5722;
}

.primary-text-color {
	color: #212121;
}

.secondary-text-color {
	color: #757575;
}

.divider-color {
	border-color: #BDBDBD;
}

.md-button {
	line-height: 25px;
}

.md-button.md-icon-button.semEspaco {
	margin: 0;
}

#toast-container {
	top: 1%;
	right: 1%;
}

.toast {
	background-color: #2d5271;
	border: solid 1px #ffffff;
	border-radius: 5px !important;
}

.row table .col {
	float: initial;
	box-sizing: border-box;
	padding: 0;
	min-height: 1px;
}

.steps-indicator {
	right: 0;
	bottom: 0;
	left: 0;
	height: 40%;
	position: absolute;
}

md-step-body {
	display: initial;
}

.md-stepper-indicator-wrapper {
	background-color: transparent;
}

.fadein,
.fadeout {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
}

.input-field {
	margin-top: 0;
}